<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link th:replace="~{header :: head-link-bootstrap}"/>
    <title th:text="${authUser.isAdmin()} ? 'Admin panel' : 'User page'">Admin panel</title>
</head>
<body>
<header th:replace="~{header :: navigation}"></header>
<main id="mainview">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex align-items-start p-0">
                <div class="nav flex-column nav-pills col-2 mt-3" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-adminpanel-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-adminpanel"
                            type="button"
                            role="tab"
                            aria-controls="v-pills-adminpanel"
                            aria-selected="true"
                            th:if="${authUser.isAdmin()}">Admin
                    </button>
                    <button class="nav-link" id="v-pills-userpage-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-userpage"
                            type="button"
                            role="tab"
                            aria-controls="v-pills-userpage"
                            aria-selected="false"
                            th:classappend="(${authUser.isAdmin()} ? '' : 'active')">User
                    </button>
                </div>
                <div class="tab-content col-10 bg-light" id="v-pills-tabContent">
                    <div class="tab-pane m-3 fade show active"
                         id="v-pills-adminpanel"
                         role="tabpanel"
                         aria-labelledby="v-pills-adminpanel-tab"
                         th:if="${authUser.isAdmin()}">
                        <h2>Admin panel</h2>
                        <ul class="nav nav-tabs"
                            id="myTab"
                            role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="users-list-tab" data-bs-toggle="tab"
                                        data-bs-target="#users-list" type="button"
                                        role="tab" aria-controls="users-list" aria-selected="true">Users list
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="new-user-tab" data-bs-toggle="tab"
                                        href="/admin/add" type="button"
                                        role="tab" aria-controls="new-user" aria-selected="false">New user
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active"
                                 id="users-list"
                                 role="tabpanel"
                                 aria-labelledby="users-list-tab">
                                <!--List of users-->
                                <div class="card">
                                    <div class="card-header">
                                        All users
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First name</th>
                                                <th scope="col">Last name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody th:each="user : ${usersList}" th:remove="tag">
                                            <tr>
                                                <td th:text="${user.id}">1</td>
                                                <td th:text="${user.getNameFirst()}">Admin</td>
                                                <td th:text="${user.getNameLast()}">Adminest</td>
                                                <td th:text="${user.getAge()}">744</td>
                                                <td th:text="${user.getEmail()}">admin@internet.gov</td>
                                                <td th:text="${user.rolesToString()}">ADMIN</td>
                                                <td>
                                                    <a class="btn btn-info btn-sm"
                                                       th:href="@{'/admin/edit/'+${user.id}}">Edit</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger btn-sm"
                                                       th:href="@{'/admin/delete/'+${user.id}}">Delete</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade"
                                 id="new-user"
                                 role="tabpanel"
                                 aria-labelledby="new-user-tab">
                                <!--Add new user-->
                                <div class="card">
                                    <div class="card-header">
                                        Add new user
                                    </div>
                                    <div class="card-body">
                                        <div class="row text-center">
                                            <div class="col">1</div>
                                            <div class="col">2
<!--                                                <form th:action="@{/admin/add}" th:method="POST" th:object="${user}">-->
<!--                                                    <fieldset>-->
<!--                                                        &lt;!&ndash;                                                    <legend th:text="'Добавление пользователя'">Пользователь&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                    </legend>&ndash;&gt;-->
<!--                                                        <input type="hidden" name="id" th:value="${user.id}">-->
<!--                                                        <label for="nameFirst">First name</label>-->
<!--                                                        <input type="text" name="nameFirst" id="nameFirst"-->
<!--                                                               th:value="${user.nameFirst}" required/>-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        <label for="nameLast">Last name</label>-->
<!--                                                        <input type="text" name="nameLast" id="nameLast"-->
<!--                                                               th:value="${user.nameLast}" required/>-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        <label for="age">Age</label>-->
<!--                                                        <input type="age" name="age" id="age" th:value="${user.age}"-->
<!--                                                               required/>-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        <label for="email">Email</label>-->
<!--                                                        <input type="email" name="email" id="email"-->
<!--                                                               th:value="${user.email}" required/>-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        <label for="password">Password</label>-->
<!--                                                        <input type="password" name="password" id="password"-->
<!--                                                               th:value="${user.password}" required/>-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        &lt;!&ndash;                                                        <div>&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                            <label>Роли :</label>&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                            <div align="left">&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                                <th:block th:each="role : ${rolesList}">&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                                    <div>&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                                        <input type="checkbox" th:field="*{roles}"&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                                               th:text="${role.rolename}"&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                                               th:value="${role.id}"/>&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                                    </div>&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                                </th:block>&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                            </div>&ndash;&gt;-->
<!--                                                        &lt;!&ndash;                                                        </div>&ndash;&gt;-->
<!--                                                        <br/>-->
<!--                                                        <br/>-->
<!--                                                        <input type="submit" th:value="'Add new user'">-->
<!--                                                    </fieldset>-->
<!--                                                </form>-->
                                            </div>
                                            <div class="col">3</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane m-3 fade"
                         id="v-pills-userpage"
                         role="tabpanel"
                         aria-labelledby="v-pills-userpage-tab"
                         th:classappend="(${authUser.isAdmin()} ? '' : 'show active')">
                        <h2>User information-page</h2>
                        <div class="card">
                            <div class="card-header">
                                About user
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First name</th>
                                        <th scope="col">Last name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody th:object="${authUser}" th:remove="tag">
                                    <tr>
                                        <td th:text="*{id}">1</td>
                                        <td th:text="*{getNameFirst()}">Admin</td>
                                        <td th:text="*{getNameLast()}">Adminest</td>
                                        <td th:text="*{getAge()}">744</td>
                                        <td th:text="*{getEmail()}">admin@internet.gov</td>
                                        <td th:text="*{rolesToString()}">ADMIN</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<script th:replace="~{header :: script-bootstarp}"></script>
</body>
</html>