<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<div th:replace="~{header :: logout}"/>
<div>
    <h3>Центр управления полетом</h3>

    <table>
        <thead>
        <tr>
            <th width="5%">id</th>
            <th width="10%">Логин</th>
            <th width="30%">Псевдоним</th>
            <th width="15%">Телефон</th>
            <th width="10%">Квартира</th>
            <th width="10%">Количество счетчиков</th>
            <th width="10%">Роли</th>
            <th width="10%">Действует</th>
            <th width="10%">Изменить/Удалить</th>
        </tr>
        </thead>
        <tbody th:each="user : ${usersList}" th:remove="tag">
        <tr>
            <td th:text="${user.id}"></td>
            <td>
                <a th:href="@{'/user/'+${user.id}}" th:text="${user.username}">edit</a>
            </td>
            <td th:text="${user.pseudonym}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.flatNum}"></td>
            <td th:text="${user.numCount}"></td>
            <td th:text="${user.roles}"></td>
            <td th:text="${user.enabled} > 0"></td>
            <td>
                <a th:href="@{'/admin/edit/'+${user.id}}">Edit</a>
                &nbsp;
                <a th:href="@{'/admin/delete/'+${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <a href="/admin/add">Добавить нового пользователя</a>
    <br/>
    <br/>
    <a href="/admin/roles">Управление ролями</a>

</div>
</body>
</html>