<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
</head>
<body>
<div th:replace="~{header :: logout}"/>
<fieldset>
    <legend>Информация о пользователе</legend>
    Имя: <span th:text="${user.username}">name</span>
    <br/>
    <br/>
    Псевдоним: <span th:text="${user.pseudonym}">pseudonym</span>
    <br/>
    <br/>
    Телефон: <span th:text="${user.phoneNumber}">phoneNumber</span>
    <br/>
    <br/>
    Квартира: <span th:text="${user.flatNum}">flatNum</span>
    <br/>
    <br/>
    Количество счетчиков: <span th:text="${user.numCount}">numCount</span>
    <br/>
    <br/>
</fieldset>
</body>
</html>